<div class="table-responsive">
  <table #table class="table table-vcenter table-nowrap table-bordered">
    <thead class="custom-thead">
      <tr>
        <th class="bg-transparent w-1"></th>
        <ng-container *ngFor="let fld of fieldType">
          <th class="bg-transparent" [innerHTML]="fld.name"></th>
        </ng-container>
      </tr>
    </thead>
    <tbody #tbodyView class="border border-1 bg-white rounded-0">
      <tr
        #trView
        *ngFor="let item of dsTable; let i = index; trackBy: onTrackDs"
      >
        <td role="button" class="overflow-hidden p-0">
          <div ngbDropdown container="body">
            <span
              *ngIf="!showEditor"
              [innerHTML]="dsIcon.moreVert | saveSvg"
              ngbDropdownToggle
            >
            </span>
            <div ngbDropdownMenu>
              <ng-container *ngFor="let dd of dsDropdown">
                <button
                  [disabled]="!dd.isActive"
                  ngbDropdownItem
                  (click)="onDropdownClick(trView, dd.action)"
                >
                  <span class="me-2" [innerHTML]="dd.icon | saveSvg"></span>
                  {{ dd.name | titlecase }}
                </button>
              </ng-container>
            </div>
          </div>
        </td>
        <ng-container *ngFor="let fld of fieldType">
          <td
            #tdView
            class="custom-td"
            [innerHTML]="onFilterTbody(tdView, trView, fld, item)"
          ></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<table class="d-none">
  <thead></thead>
  <tbody #tbodyEditor>
    <tr #trEditor [hidden]="!showEditor">
      <td role="button" class="overflow-hidden p-0">
        <div ngbDropdown container="body">
          <span [innerHTML]="dsIcon.arrowRight | saveSvg"></span>
        </div>
      </td>
      <ng-container *ngFor="let fld of fieldType">
        <td
          [formGroup]="form"
          class="{{ fld.type == 'checkbox' ? 'py-0' : 'p-0' }}"
        >
          <ng-template [ngIf]="fld.type == 'input'">
            <input
              type="text"
              class="form-control rounded-0 border-outline"
              formControlName="{{ fld.name }}"
            />
          </ng-template>
          <ng-template [ngIf]="fld.type == 'checkbox'">
            <input
              type="checkbox"
              class="rounded-0 border-outline"
              formControlName="{{ fld.name }}"
            />
          </ng-template>
          <ng-template [ngIf]="fld.type == 'select'">
            <select class="form-select" formControlName="{{ fld.name }}">
              <ng-container *ngFor="let opt of fld.data">
                <option value="{{ opt.value }}">{{ opt.name }}</option>
              </ng-container>
            </select>
          </ng-template>
          <ng-template [ngIf]="fld.type == 'lookup'">
            <div
              container="body"
              class="w-100"
              ngbDropdown
              #myDrop="ngbDropdown"
            >
              <input
                type="text"
                class="form-control rounded-0 border-outline"
                formControlName="{{ fld.name }}"
                (keyup)="onKeyupLookup($event, fld)"
                (keyup)="myDrop.open()"
                ngbDropdownToggle
              />
              <div ngbDropdownMenu>
                <ng-container *ngFor="let opt of fld.data">
                  <button
                    (click)="onClickLookup(opt, fld.name)"
                    ngbDropdownItem
                  >
                    {{ opt.name }}
                  </button>
                </ng-container>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="fld.type == 'date'">
            <input
              type="text"
              class="form-control rounded-0 border-outline"
              ngbDatepicker
              #d="ngbDatepicker"
              (click)="d.toggle()"
              formControlName="{{ fld.name }}"
            />
          </ng-template>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
