.selected-row {
  background-color: rgb(245, 235, 235);
}

.custom-thead {
  border: none;
  border-color: transparent;
  border-bottom: inherit;
}

.custom-bg {
  background-color: transparent;
  border-left: transparent;
  border-right: transparent;
}

.custom-td {
  padding: 0.55rem 0.55rem !important;
}

.dropdown-toggle::after {
  display: none;
}

.form-select {
  border-radius: 0;
}
