<div class="container-xl">
  <core-grid
    #grid
    [dataSource]="dsUser"
    [dataKey]="dsKey"
    [fieldType]="gridField"
    [backgroundType]="gridType"
  >
  </core-grid>

  <div *ngFor="let item of grid.tableValue">
    <span>{{ item | json }}</span>
  </div>
</div>

<!-- <div class="page">
  <div class="container-xl">
    <h2 class="page-title m-2">Table</h2>
    <div class="page-wrapper">
      <core-grid
        [dataSource]="dsUser"
        [fieldType]="gridField"
        (actionBegine)="onActionClick($event)"
      >
      </core-grid>
    </div>
  </div>
</div> -->

<!-- <div class="page">
  <div class="container-xl">
    <h2 class="page-title m-2">Table</h2>
    <div class="page-wrapper">
      <custom-grid
        [dataSource]="dsUser"
        [selectOption]="gridSelectOption"
        [fieldType]="gridField"
        (actionBegin)="onActionClick($event)"
      >
      </custom-grid>
    </div>
  </div>
</div> -->

<!-- <div class="page">
  <div class="container-xl">
    <h2 class="page-title m-2">Table</h2>
    <div class="page-wrapper">
      <tbr-grid
        [dataSource]="dsUser"
        [selectOption]="gridSelectOption"
        [fieldType]="gridField"
        [toolbar]="gridToolbar"
        [editSettings]="gridEditSettings"
        [inlineEditing]="gridInlineEditing"
        (actionBegin)="onActionClick($event)"
      >
      </tbr-grid>
    </div>
  </div>
</div> -->

<!-- <div class="page">
  <div class="container-xl">
    <h2 class="page-title m-2">Tables</h2>
    <div class="page-wrapper">
      <t-grid
        [dataSource]="dsUser"
        [toolbar]="gridToolbar"
        [editSettings]="gridEditSettings"
        [fieldType]="gridField"
        (actionClick)="onActionClick($event)"
      >
      </t-grid>
    </div>
  </div>
</div> -->

<!-- <div class="page">
  <div class="container-xl">
    <h2 class="page-title m-2">Tables</h2>
    <div class="page-wrapper">
      <app-tabler-grid 
        [dataSource]="dsUser" 
        [fieldType]="gridField">
      </app-tabler-grid>
    </div>
  </div>
</div> -->
